<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Save Earth <small>A Packt Publishing Initiative</small></h1>
  <h2 class="text-uppercase">Do you still have dreams?</h2>

  <blockquote-reverse>
  <p>This is a dummy <mark>paragraph</mark>. I do <i>not know</i> what to say. But I have to type something</p>
    <footer>by Ji</footer>
  </blockquote-reverse>
  <p class="lead text-nowrap">This is a dummy paragraph. I do not know what to say. But I have to type something. Do you like beatles.I like them a lot. I know they are old fasion.</p>
  <%= link_to 'New Product', new_product_path , class:"btn btn-success "%>
   <a href="http://www.google.com/" class="btn btn-info btn-lg active">Packt Pub -Active</a>

  <h1>Here aer the elements eligibale for button</h1>
  <ul>
    <li><a href="http://www.google.com/" class="btn btn-danger btn-sm disabled">Packt Pub -Disabled</a></li>
    <li><button type="button" class="btn btn-warning btn-lg" disabled="disabled">
      This is a disabled button
    </button></li>
    <li><input placeholder="Username" type="button" class="btn btn-primary btn-lg activated"></li>
    <li><input type="submit" class="btn btn-success btn-lg activated"></li>
  </ul>
  <a href="http://www.google.com/" class="btn btn-danger btn-sm disabled">Packt Pub -Disabled</a>
  <button type="button" class="btn btn-warning btn-lg" disabled="disabled">
    This is a disabled button
  </button>
   <ul class="list-style-type: circle">
     <li>Run</li>
     <li>Eat</li>
     <li>Play</li>
     <li>Sleep</li>
   </ul>
  <div class="row">
     <div class="col-xs-4 col-md-4" style="background: grey">
       <img src="/images/1.png" class="img-responsive" alt="this is a bear pic" width="304" height="236">
     </div>
    <div class="col-xs-4 col-md-4" style="background: yellow">
      <img src="/images/1.png" class="img-responsive "  alt="this is a bear pic" width="304" height="236">
    </div>
    <div class="col-xs-4 col-md-4" style="background: hotpink">
      <img src="/images/1.png"  class="img-responsive " alt="this is a bear pic"  width="304" height="236">
    </div>
  </div>

  <ol class="list-unstyled">
    <li>Run</li>
    <li>Eat</li>
    <li>Play</li>
    <li>Sleep</li>
  </ol>




















</div>